In [38]:
import pandas as pd
import numpy as np
import os

PATH = os.getcwd()

PATH = PATH + '/data/'

In [28]:
df = pd.read_excel(PATH+'generatoroutput.xlsx')

In [5]:
df.head()

,Document,docID,xmlns,xmlns:xsi,xsi:schemaLocation,DocHeader,DocTitle,DocRevision,DocConfidentiality,DocConfClass,...,DeliveryYear,DailyData,Day,HourlyData,Hour,FuelTotal,Fuel,EnergyValue,OutputQuality,Output
0,NaN,GenOutputbyFuelHourly,http://www.ieso.ca/schema,http://www.w3.org/2001/XMLSchema-instance,http://www.ieso.ca/schema http://reports.ieso....,NaN,Generator Output by Fuel Type Hourly Report,1.0,NaN,PUB,...,2018.0,NaN,2018-01-01,NaN,1.0,NaN,NUCLEAR,NaN,0,11671
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,GAS,NaN,0,1583
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,HYDRO,NaN,0,4152
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,WIND,NaN,0,992
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SOLAR,NaN,0,0

In [18]:
df1 = df[['Fuel','Output']]

In [19]:
df1.head()

      Fuel  Output
0  NUCLEAR   11671
1      GAS    1583
2    HYDRO    4152
3     WIND     992
4    SOLAR       0

In [20]:
s = df.groupby('Fuel')['Output'].apply(list)
s.apply(pd.Series).T

Fuel  BIOFUEL   GAS  HYDRO  NUCLEAR  SOLAR  WIND
0           3  1583   4152    11671      0   992
1           1  1192   4093    11672      0  1124
2           0  1040   4231    11672      0  1265
3           0  1041   3895    11669      0  1369
4           0  1004   3271    11674      0  1848
5           0  1048   3292    11682      0  2022
6           1   966   3977    11682      0  2378
7           4   741   4311    11682      0  2542
8           2   650   4058    11678      2  2719
9           2   556   4644    11682     13  2687
10          3   636   4171    11679     36  2805
11          3   847   3819    11688     47  2806
12          2  1059   3790    11682     62  2859
13          1  1288   3592    11681     65  2655
14          0  1623   3703    11681     49  2267
15          0  2031   3802    11680     25  2681
16          0  2280   4779    11669      5  2772
17          0  2690   5670    11668      0  2721
18          0  2582   5170    11678      0  2921
19          0  2490   5073    11677      0  2974
20          0  2315   5162    11679      0  2855
21          0  1767   4946    11674      0  2658
22          0  1017   4158    11674      0  2572
23          5   937   3809    11679      0  2722
24         12   948   3564    11663      0  2871
25         16   621   3164    11663      0  2538
26         14   551   3161    11660      0  2646
27         13   607   3153    11657      0  2284
28          4   859   3051    11658      0  2646
29          2  1113   3276    11663      0  2858
...       ...   ...    ...      ...    ...   ...
8730        0   369   4959    10823      0  1959
8731        0   393   4804    10821      0  2177
8732        0   398   4814    10827      0  2115
8733        0   398   4744    10824      0  1961
8734        0   287   4649    10819      0  1697
8735        0   231   4398    10826      0  1314
8736        4   246   3805    10822      0  1256
8737       10   233   3516    10816      0  1287
8738        9   231   3326    10813      0  1041
8739       10   229   3686    10819      0   692
8740       11   238   3852    10972      0   561
8741       14   230   3513    11168      0   511
8742       22   231   3690    11192      0   707
8743       27   232   4143    11191      0   944
8744       27   232   4465    11197      4  1287
8745       27   230   4666    11194     19  1471
8746       27   230   4798    11196     31  1508
8747       27   231   4708    11194     54  1446
8748       27   230   4188    11195     54  1537
8749       27   229   4042    11196     37  1711
8750       27   226   4315    11201     17  1820
8751       27   217   4824    11202      4  1685
8752       27   217   4570    11202      0  2090
8753       27   227   4575    11202      0  2381
8754       27   228   4585    11205      0  2218
8755       27   229   4094    11200      0  2303
8756       27   230   3710    11188      0  2581
8757       27   232   3482    11187      0  2299
8758       27   233   3254    11212      0  2506
8759       16   232   3136    11219      0  1897

[8760 rows x 6 columns]

In [22]:
df2 = s.apply(pd.Series).T.copy()

In [23]:
df2.head()

Fuel  BIOFUEL   GAS  HYDRO  NUCLEAR  SOLAR  WIND
0           3  1583   4152    11671      0   992
1           1  1192   4093    11672      0  1124
2           0  1040   4231    11672      0  1265
3           0  1041   3895    11669      0  1369
4           0  1004   3271    11674      0  1848

In [24]:
df2['TotalOutput'] = df2[['BIOFUEL','GAS','HYDRO','NUCLEAR','SOLAR','WIND']].sum(axis=1)

In [25]:
df2.head()

Fuel  BIOFUEL   GAS  HYDRO  NUCLEAR  SOLAR  WIND  TotalOutput
0           3  1583   4152    11671      0   992        18401
1           1  1192   4093    11672      0  1124        18082
2           0  1040   4231    11672      0  1265        18208
3           0  1041   3895    11669      0  1369        17974
4           0  1004   3271    11674      0  1848        17797

In [30]:
df3 = pd.read_csv(PATH+'PUB_Demand_2018.csv',skiprows=3)

In [31]:
df3.head()

         Date  Hour  Market Demand  Ontario Demand
0  2018-01-01     1          18974           16627
1  2018-01-01     2          18447           16084
2  2018-01-01     3          18453           15866
3  2018-01-01     4          18662           15725
4  2018-01-01     5          18060           15470

In [32]:
df4 = pd.read_csv(PATH+'PUB_PriceHOEPPredispOR_2018.csv',skiprows=3)

In [33]:
df4.head()

,Date,Hour,HOEP,Hour 1 Predispatch,Hour 2 Predispatch,Hour 3 Predispatch,OR 10 Min Sync,OR 10 Min non-sync,OR 30 Min
0,2018-01-01,1,51.29,40.62,35.50,40.32,0.20,0.20,0.19
1,2018-01-01,2,43.59,40.93,40.57,30.22,0.20,0.20,0.20
2,2018-01-01,3,93.60,49.84,45.30,40.20,0.25,0.25,0.22
3,2018-01-01,4,54.78,55.60,40.04,45.30,0.20,0.20,0.20
4,2018-01-01,5,14.35,40.04,34.80,47.47,0.20,0.20,0.20

In [34]:
df4.shape

(8760, 9)

In [35]:
df3.shape

(8760, 4)

In [36]:
df2.shape

(8760, 7)

In [42]:
df4.drop(columns=['Date','Hour','Hour 1 Predispatch','Hour 2 Predispatch','Hour 3 Predispatch', 'OR 10 Min Sync', 'OR 10 Min non-sync', 'OR 30 Min'], inplace=True)

In [43]:
df4.head()

    HOEP
0  51.29
1  43.59
2  93.60
3  54.78
4  14.35

In [45]:
df3.set_index('Date').head()

            Hour  Market Demand  Ontario Demand
Date
2018-01-01     1          18974           16627
2018-01-01     2          18447           16084
2018-01-01     3          18453           15866
2018-01-01     4          18662           15725
2018-01-01     5          18060           15470

In [49]:
result = pd.concat([df3,df4,df2],axis=1)

In [50]:
result.head()

,Date,Hour,Market Demand,Ontario Demand,HOEP,BIOFUEL,GAS,HYDRO,NUCLEAR,SOLAR,WIND,TotalOutput
0,2018-01-01,1,18974,16627,51.29,3,1583,4152,11671,0,992,18401
1,2018-01-01,2,18447,16084,43.59,1,1192,4093,11672,0,1124,18082
2,2018-01-01,3,18453,15866,93.60,0,1040,4231,11672,0,1265,18208
3,2018-01-01,4,18662,15725,54.78,0,1041,3895,11669,0,1369,17974
4,2018-01-01,5,18060,15470,14.35,0,1004,3271,11674,0,1848,17797

In [55]:
min_HOEP = result['HOEP'].min()

(7648, 12)

In [52]:
min_HOEP

-4.39

In [56]:
max_HOEP = result['HOEP'].max()

In [57]:
max_HOEP

365.64

In [60]:
import random
def rand_(start, end, num): 
    res = [] 
  
    for j in range(num): 
        res.append(random.randint(start, end)) 
  
    return res

cpny_price = rand_(round(min_HOEP),round(max_HOEP),8760)

In [61]:
len(cpny_price)

8760

In [64]:
df5 = pd.DataFrame({'Company_HOEP': cpny_price})

In [65]:
df5.shape

(8760, 1)

In [66]:
result = pd.concat([result,df5], axis=1)

In [67]:
result.head()

,Date,Hour,Market Demand,Ontario Demand,HOEP,BIOFUEL,GAS,HYDRO,NUCLEAR,SOLAR,WIND,TotalOutput,Company_HOEP
0,2018-01-01,1,18974,16627,51.29,3,1583,4152,11671,0,992,18401,310
1,2018-01-01,2,18447,16084,43.59,1,1192,4093,11672,0,1124,18082,27
2,2018-01-01,3,18453,15866,93.60,0,1040,4231,11672,0,1265,18208,87
3,2018-01-01,4,18662,15725,54.78,0,1041,3895,11669,0,1369,17974,65
4,2018-01-01,5,18060,15470,14.35,0,1004,3271,11674,0,1848,17797,194

In [68]:
result.set_index('Date')

,Hour,Market Demand,Ontario Demand,HOEP,BIOFUEL,GAS,HYDRO,NUCLEAR,SOLAR,WIND,TotalOutput,Company_HOEP
Date,,,,,,,,,,,,
2018-01-01,1,18974,16627,51.29,3,1583,4152,11671,0,992,18401,310
2018-01-01,2,18447,16084,43.59,1,1192,4093,11672,0,1124,18082,27
2018-01-01,3,18453,15866,93.60,0,1040,4231,11672,0,1265,18208,87
2018-01-01,4,18662,15725,54.78,0,1041,3895,11669,0,1369,17974,65
2018-01-01,5,18060,15470,14.35,0,1004,3271,11674,0,1848,17797,194
2018-01-01,6,18429,15502,18.60,0,1048,3292,11682,0,2022,18044,165
2018-01-01,7,19137,15750,21.72,1,966,3977,11682,0,2378,19004,179
2018-01-01,8,19470,15887,40.89,4,741,4311,11682,0,2542,19280,169
2018-01-01,9,19333,15923,20.75,2,650,4058,11678,2,2719,19109,250
2018-01-01,10,19816,16381,74.57,2,556,4644,11682,13,2687,19584,21
2018-01-01,11,19667,16672,4.65,3,636,4171,11679,36,2805,19330,172
2018-01-01,12,19682,16720,9.45,3,847,3819,11688,47,2806,19210,5
2018-01-01,13,19621,16839,13.65,2,1059,3790,11682,62,2859,19454,264
2018-01-01,14,19600,16772,14.37,1,1288,3592,11681,65,2655,19282,344
2018-01-01,15,19605,16868,26.73,0,1623,3703,11681,49,2267,19323,318
2018-01-01,16,20561,17314,42.12,0,2031,3802,11680,25,2681,20219,112
2018-01-01,17,21717,18081,42.28,0,2280,4779,11669,5,2772,21505,74
2018-01-01,18,23149,19339,44.84,0,2690,5670,11668,0,2721,22749,22
2018-01-01,19,22944,19249,42.22,0,2582,5170,11678,0,2921,22351,233
2018-01-01,20,22851,18960,41.06,0,2490,5073,11677,0,2974,22214,231
2018-01-01,21,22468,18663,43.76,0,2315,5162,11679,0,2855,22011,124
2018-01-01,22,21678,18074,48.38,0,1767,4946,11674,0,2658,21045,355
2018-01-01,23,20233,17218,42.58,0,1017,4158,11674,0,2572,19421,310
2018-01-01,24,19408,16356,38.14,5,937,3809,11679,0,2722,19152,133
2018-01-02,1,19138,15809,31.12,12,948,3564,11663,0,2871,19058,36
2018-01-02,2,18169,15465,10.76,16,621,3164,11663,0,2538,18002,182
2018-01-02,3,18272,15255,14.34,14,551,3161,11660,0,2646,18032,143
2018-01-02,4,18064,15236,0.29,13,607,3153,11657,0,2284,17714,144
2018-01-02,5,18484,15275,1.43,4,859,3051,11658,0,2646,18218,302
2018-01-02,6,19221,15726,14.36,2,1113,3276,11663,0,2858,18912,281
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30,19,18915,17314,7.75,0,369,4959,10823,0,1959,18110,221
2018-12-30,20,18524,16773,5.89,0,393,4804,10821,0,2177,18195,354
2018-12-30,21,18446,16515,9.69,0,398,4814,10827,0,2115,18154,322
2018-12-30,22,18258,16003,13.36,0,398,4744,10824,0,1961,17927,23
2018-12-30,23,17866,15346,21.98,0,287,4649,10819,0,1697,17452,235
2018-12-30,24,17324,14614,19.54,0,231,4398,10826,0,1314,16769,25
2018-12-31,1,16695,13890,20.44,4,246,3805,10822,0,1256,16133,310
2018-12-31,2,16296,13356,13.33,10,233,3516,10816,0,1287,15862,152
2018-12-31,3,15908,12963,13.35,9,231,3326,10813,0,1041,15420,194
2018-12-31,4,15953,12905,28.51,10,229,3686,10819,0,692,15436,67
2018-12-31,5,16069,13125,26.66,11,238,3852,10972,0,561,15634,186
2018-12-31,6,16031,13551,12.09,14,230,3513,11168,0,511,15436,76
2018-12-31,7,16653,14124,9.74,22,231,3690,11192,0,707,15842,2
2018-12-31,8,16999,14781,5.86,27,232,4143,11191,0,944,16537,143
2018-12-31,9,17591,15402,5.95,27,232,4465,11197,4,1287,17212,228
2018-12-31,10,17987,15570,13.32,27,230,4666,11194,19,1471,17607,130
2018-12-31,11,18286,15895,13.34,27,230,4798,11196,31,1508,17790,258
2018-12-31,12,18452,15812,13.34,27,231,4708,11194,54,1446,17660,315
2018-12-31,13,17955,15763,9.04,27,230,4188,11195,54,1537,17231,96
2018-12-31,14,18039,15662,5.33,27,229,4042,11196,37,1711,17242,214
2018-12-31,15,18304,15829,19.09,27,226,4315,11201,17,1820,17606,60
2018-12-31,16,18626,16211,14.23,27,217,4824,11202,4,1685,17959,201
2018-12-31,17,18833,16604,5.83,27,217,4570,11202,0,2090,18106,345
2018-12-31,18,19079,17125,1.73,27,227,4575,11202,0,2381,18412,48
2018-12-31,19,18626,16583,1.31,27,228,4585,11205,0,2218,18263,232
2018-12-31,20,18276,16195,5.62,27,229,4094,11200,0,2303,17853,149
2018-12-31,21,18046,15668,8.95,27,230,3710,11188,0,2581,17736,44
2018-12-31,22,17516,14987,5.81,27,232,3482,11187,0,2299,17227,284
2018-12-31,23,17506,14560,2.87,27,233,3254,11212,0,2506,17232,290
2018-12-31,24,16704,13828,0.00,16,232,3136,11219,0,1897,16500,16

In [70]:
result.to_excel(PATH+'final_data.xlsx')